#body {
  background-image: url('https://wallpaper.forfun.com/fetch/e8/e859248bc2d5ef708980128be1d95647.jpeg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  text-align: -webkit-center;
}

* {
  font-family: "Lato", sans-serif;
}

.div-list-article {
  color: black;
  border: 1px solid;
  border-radius: 10px;
  display: inline-block;
  background: white;
  padding: 10px;
  margin: 10px auto 10px auto;
  width: 50%;
}

#title {
  margin: 20px 0px 20px 0px;
}

.highlight-div {
  transition: background-color 0.3s ease; 
}

.highlight-div:hover {
  background-color: #f0f0f0; 
}

#navbar {
  background: rgba(232, 155, 71, 0.25);
}
